
body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    
}

#open_button{
    
    visibility: collapse;
}
#mySidenav{
  
    visibility: collapse;
    height: 0px;
}
a:link {text-decoration: none; color: inherit; }      /* unvisited link */
a:visited {text-decoration: none; color: inherit}

header {
    padding: 20px;
    /* background-color: rgba(12, 79, 41, 0.307); */
    background-image: linear-gradient(rgba(255, 255, 255, 0.59),rgba(12, 79, 41, 0.307));
    height: fit-content;
}

#top_navigation_bar {
    
    width:100%;
    

}


#top_navigation_bar_links{
    
    text-align: center;
   

}
#top_navigation_bar_links a{
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color:rgb(49, 49, 49);

}

#top_navigation_bar_links a:hover{
    background-color: aliceblue;
    text-decoration: underline;
    
}
#top_navigation_bar_title{
    text-align: center;
    
   
    
}
#top_navigation_bar_title h1{
    color:rgb(49, 49, 49);
}
main{
    background-color:rgba(199, 225, 227, 0.189);

    text-align: center;
}
.dpi_image{
    padding: 20px;
    width: 30%;
    
}

main h1{
    color: rgb(35, 35, 101);
    padding: 20px;
    margin: auto;
}

footer{
    background-image: linear-gradient(rgba(34, 34, 156, 0.436),rgba(15, 15, 107, 0.721));
    /* background-color: hsla(240, 84%, 15%, 0.706); */
    text-align: center;
    
}

footer p{
    color: aliceblue;
    margin: auto;
    padding: 20px;
    font-size: medium;
}



/* media part  */
/* */


@media only screen and (max-width: 1300px){
    
    
    
#mySidenav{
    visibility: collapse;
    height: 0px;
}
#open_button{
    visibility: collapse;
}
    #first_half::after{
        content: "\a";
        white-space: pre;
        
    }

    #second_half::before{
        content: "\a";
        white-space: pre;
        margin-top: 50px;
    }

   
}



@media only screen and (max-width: 720px){
    
 
    #top_navigation_bar{
        height: 100px;
    }
    #top_navigation_bar_links {
        
        visibility: collapse;
    }
    /* The side navigation menu */

    #open_button{
        
        visibility: visible;
        font-size: 54px;
    }
#mySidenav{
    visibility:visible;
    height: 100%;
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

 
   
}